.big-banner{
	background-image: url('../Images/sand-abstract.jpg');
	background-size: 10%;
}
.new-pic{
	background-image: url('Images/hand-light-people-girl.jpg');
	background-size: 100%;
}

/* .moretoggle{


}
 */


/* / *