<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet"/>



    <link rel="stylesheet" href="../css/custom-style.css">



	<title>base.html</title>
  </head>
  <body>

    <div  class="jumbotron big-banner">
    <!-- navbar -->
      <nav class="navbar navbar-expand-md bg-transparent fixed-top">
        <div class="container-fluid">
        <!-- style="background-color: #e3f2fd;" -->
        
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
          <ul class="nav nav-pills nav-justified">
            <li>
            <a class="nav-link" href="dashboard.html">Dashboard</a>
            </li> 

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" data-toggle="pill" >Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#"> 1</a>
              <a class="dropdown-item" href="#"> 2</a>
              <a class="dropdown-item" href="#"> 3</a>
            </div>
            </li>
            <li>
              <a class="nav-link" href="#menu2" data-toggle="pill">Link 2</a>
            </li>
            <li>
              <a class="nav-link " href="#menu3" data-toggle="pill">Link 3</a>
            </li>
          </ul>
        </div>
        </div> 
      </nav>

      <div class="container">
  
      <h1 class="text-light">Hello</h1>
      <h1>Hello<span></span></h1>
      <h1>Hello</h1>
      <h1 class="text-light">Hello</h1>
    
      </div>


  <div class="card">
    <div class="card-body">
      <h5 class="card-title">The Card Title</h5>
      <p class="card-subtitle">This is the card subtitle</p>
      <p class="card-text">...</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>




  </div>  

<!-- {% block content %}{% endblock %} -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--   -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
   <!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> --> 
 </body>
</html>