<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/JNKKKK/MoreToggles.css@0.2.1/output/moretoggles.min.css">

    <link rel="stylesheet" href="../static/custom-style.css">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/octicons/8.5.0/build.css">
    <link rel="shortcut icon" href="#" />
    <link rel="shortcut icon" type="image/x-icon" href="../static/Images/plug.svg">

  </head>
  <body>
      
    <!-- <div  class="jumbotron big-banner"> -->
      <div  class="jumbotron new-pic">
    <!-- navbar -->
      <nav class="navbar navbar-expand-md bg-dark fixed-top">
        <div class="container-fluid">
        <!-- style="background-color: #e3f2fd;" -->
        
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
          <ul class="nav nav-pills nav-justified">
            <li>
            <a class="nav-link" href="base.html">Home</a>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" data-toggle="pill" >Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#"> 1</a>
              <a class="dropdown-item" href="#"> 2</a>
              <a class="dropdown-item" href="#"> 3</a>
            </div>
            </li>
            <li>
              <a class="nav-link" href="#menu2" data-toggle="pill">Link 2</a>
            </li>
            <li>
              <a class="nav-link " href="#menu3" data-toggle="pill">Link 3</a>
            </li>
          </ul>
        </div>
        </div> 
      </nav> 

      <div class="container">
        <div class="jumbotron">
          <h2> Temperature and Humidity Sensors </h2>
          
          <br>
          <h4>Temperature<h4>
          <div class="progress mb-2 mt-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ temperature }}%"aria-valuenow="20" ariavaluemin="0" aria-valuemax="100" >
              {{ temperature }}°C
            </div>
          </div>
          <h4>Humidity<h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: {{ humidity }}%" aria-valuenow="20" ariavaluemin="0" aria-valuemax="100">{{ humidity }}%</div>
          </div>
        </div>
      </div>

    <form method="POST" action="/">
      <div class="container-fluid"> <!--card shuru-->
        <div class="row">
      <!-- style="width:1000px" -->
         {% if relay1 == '1' %}
          <div class="col-md-3 mb-2">
            <div class="card text-center">
              <div class="card-body">
                <h3 class="card-title">Relay 1</h3>
                <p class="card-subtitle">This is the card subtitle</p>
                <p class="card-text">...</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
                <div class="mt-ios small container"> 
                  <input id="1"  type="checkbox" value="1" name="Relay1" checked>
                  <label for="1"></label>
                </div>
              </div>
            </div>
          </div>

          {% else %}
          <div class="col-md-3 mb-2">
            <div class="card text-center">
              <div class="card-body">
                <h3 class="card-title">Relay 1</h3>
                <p class="card-subtitle">This is the card subtitle</p>
                <p class="card-text">...</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
                <div class="mt-ios small container"> 
                  <input id="1"  type="checkbox" value="1" name="Relay1" >
                  <label for="1"></label>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          
          {% if relay2 == '2' %}
          <div class="col-md-3  mb-2">
            <div class="card bg-danger text-center" >
              <div class="card-body">
                <h3 class="card-title">Relay 2 </h3>
                <p class="card-subtitle">press here to turn on and off</p>
                
                <p class="card-text">...</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
                <div class="mt-ios-red small"> 
                  <input id="2" class="form-control" type="checkbox" value="2" name="Relay2" checked>
                  <label for="2"></label>
                </div>
              </div>
            </div>
          </div>

          {% else %}
          <div class="col-md-3  mb-2">
            <div class="card bg-danger text-center" >
              <div class="card-body">
                <h3 class="card-title">Relay 2 </h3>
                <p class="card-subtitle">press here to turn on and off</p>
                
                <p class="card-text">...</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
                <div class="mt-ios-red small"> 
                  <input id="2" class="form-control" type="checkbox" value="2" name="Relay2" >
                  <label for="2"></label>
                </div>
              </div>
            </div>
          </div>
          {% endif %}          

          {% if relay3 == '3' %}
          <div class="col-md-3 mb-2">
            <div class="card bg-success text-center">
              <div class="card-body">
                <h3 class="card-title">Relay 3</h3>
                <p class="card-subtitle">This is the card subtitle</p>
                <p class="card-text">...</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
                <div class="mt-ios small"> 
                  <input id="3" class="form-control" type="checkbox" value="3" name="Relay3" checked />
                  <label for="3"></label>
                </div>
              </div>
            </div>
          </div>

          {% else %}
          <div class="col-md-3 mb-2">
            <div class="card bg-success text-center">
              <div class="card-body">
                <h3 class="card-title">Relay 3</h3>
                <p class="card-subtitle">This is the card subtitle</p>
                <p class="card-text">...</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
                <div class="mt-ios small"> 
                  <input id="3" class="form-control" type="checkbox" value="3" name="Relay3" />
                  <label for="3"></label>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          {% if relay4 == '4' %}
          <div class="col-md-3  mb-2">
            <div class="card bg-warning text-center">
              <div class="card-body">
                <h3 class="card-title">Relay 4</h3>
                <p class="card-subtitle">This is the card subtitle</p>
                <p class="card-text">...</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
                <div class="mt-ios small"> 
                  <input id="4" class="form-control" type="checkbox" value="4" name="Relay4" checked />
                  <label for="4"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col-md-3  mb-2">
            <div class="card bg-warning text-center">
              <div class="card-body">
                <h3 class="card-title">Relay 4</h3>
                <p class="card-subtitle">This is the card subtitle</p>
                <p class="card-text">...</p>
                <!-- <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
                <div class="mt-ios small"> 
                  <input id="4" class="form-control" type="checkbox" value="4" name="Relay4" />
                  <label for="4"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
     
      </div><!--eita card er ending-->

      <!-- <input type="checkbox" checked data-toggle="toggle">

      <input type="checkbox" checked data-toggle="toggle" data-onstyle="primary"> -->
      <!-- <input type="checkbox" checked data-toggle="toggle" data-onstyle="success"> -->

      <div class="btn-group-toggle form-group mt-2 mb-2" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="submit" checked autocomplete="on"> Checked
        </label>
      </div>
    </form>



    </div>  <!--eita image er ending-->





    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

  </body>
</html>
