C 0 0 "VCC" 0 0 0 0 60 0 L
X "PIN_TEXT" "VCC" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "DATA" 0 -100 0 0 60 0 L
X "PIN_TEXT" "DATA" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "NC" 0 -200 0 0 60 0 L
X "PIN_TEXT" "NC" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "GND" 0 -300 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
L 200 100 700 100 -1 0
L 700 -400 700 100 -1 0
L 700 -400 200 -400 -1 0
L 200 100 200 -400 -1 0
P "$LOCATION" "?" 750 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

